body {
  background-color: #EFF6FF;
  font-family: Rubik;
  height: 100%;
  color: #000000;
  text-align: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
